*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #f5f5f5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 900px;
    height: 500px;
    margin: 40px auto 0;
    background-color: white;
    box-shadow: 2px 2px 10px gray;
}

.level section{
    margin: 100px 0;
}
.btn{
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 2px solid #32cd32;
    border-radius: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.btn:hover{
    border: none;
    background-color: #32cd32;
    color: white;
}




.contain{
    width: 47%;
    margin: 25px 0 0 50px;
    /* padding: 0 20px 0 0; */
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.contain section{
    background-color: #84fcba9c;
    text-align: center;
    margin: auto 0;
    color: #00ff73;
    padding: 12px 14px;
    border-radius: 25px;
}
.contain i{
    font-size: 22px;
}
#back{
    margin-left: 880px;
    color: #727070;
    font-weight: bolder;
    font-size: 16px;
    text-shadow: 1px 0px #727070;
    text-decoration: none;
}
#back:hover{
    color: #00ff73;
}
h1{
    color: #807e7ed2;
}
.sec{
    text-align: center;
}
.sec h2{
    font-size: 26px;
}
.sec p{
    margin-top: 10px;
    font-size: 16px;
    color: rgb(87, 85, 85);
}

.center{
    margin: 50px auto 0 auto;
}
input[type='text'], #otp{
    width: 200px;
    height: 35px;
    margin: 15px 0;
    padding: 0 10px;
    border: 1px solid grey;
    border-radius: 17px;
}
#phone{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#tel_code{
    width:30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#otp{
    width: auto;
    margin-left: 50px;
}
.center i{
    color: green;
    font-size: 25px;
    display: none;
}
#t_error, #m_error, span{
    color: red;
    font-size: 12px;
}

.send_otp{
    margin-top: 10px;
}

.check{
    margin-top: 20px;
    text-align: center;
}